* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --TEXTCOLOR: #292929;
}

body {
  background-color: #1c1c3a;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

section {
  background-color: #d8d6ef;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.75rem;
  margin: auto;
  padding: 30px;
  width: 320px;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--TEXTCOLOR);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  align-items: center;
}

.altura label,
.peso label {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--TEXTCOLOR);
}

.altura input,
.peso input {
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0.75rem;
  width: 65vw;
}

input:focus {
  outline: none;
}

.btn {
  background-color: #766f9f;
  border-radius: 8px;
  border: none;
  color: #f6f6fe;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 15px;
  padding: 10px;
  width: 40vw;
}

.btn:hover {
  background-color: #615b81;
}

/* 
 teste botão range para o input de peso:
.peso input[type="range"],
.peso input[type="button"] {
  flex: 1;
} */

.resultado {
  margin: auto;
  padding: 15px;
  color: var(--TEXTCOLOR);
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 2.2rem;
  }

  section {
    width: 50vw;
    padding: 30px;
    font-weight: 500;
  }

  .altura input,
  .peso input {
    width: 40vw;
  }

  .button {
    width: 40vw;
  }

  .resultado {
    font-size: 1.5rem;
  }
}
