* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c3a;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


form {
    align-items: center;
    background-color: #d8d6ef;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
    gap: 8px;
    justify-content: center;
    margin: auto;
    padding: 30px;
    width: 320px;
}

h1 {
    color: #292929;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

hr {
    width: 100%;
    height: px;
    background-color: #ffffff;
}

.altura input,
.peso input {
    border-radius: 8px;
    border: none;
    color: #292929;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    width: 250px;
}


.button {
    background-color: #766f9f;
    border-radius: 8px;
    border: none;
    color: #f6f6fe;   
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px;
    width: 250px;
}

.button:hover {
    background-color: #615b81;
}

/* 
.peso input[type="range"],
.peso input[type="button"] {
  flex: 1;
} */

#resposta {
    margin: auto;
    padding: 15px;
    color: #292929;
    font-size: 1.1rem;
}

@media screen and (min-width: 520px) {

    h1 {    
    font-size: 2.2rem;
    }

    form {
        width: 70vw;
        padding: 30px;
        font-weight: 500;
    }

    .altura input,
    .peso input {
        
    }

    #resposta {
        font-size: 1.5rem;
    }
}